<div id="census-navbar" style="text-align: center;">
    <ul>
        <div class="census-nav-container">
            <li><a class="icon icon-cogs" href="/admin/"><span> Admin Database</span></a></li>
        </div>

        <div class="census-nav-container">
            <li><a class="icon icon-keyboard" href="/enter_occurrence/"><span> Add Occurrence</span></a></li>
        </div>
        {% comment %}<div class="census-nav-container">
            <li><a class="icon icon-search" href="/occurrences/"><span> View Occurrences</span></a></li>
        </div>{% endcomment %}
        <div class="census-nav-container">
            <li><a class="icon icon-keyboard" href="/get_taxon_info_before_adding/"><span> Add Taxon</span></a></li>
        </div>
        <div class="census-nav-container">
            <li><a class="icon icon-search" href="/taxa/"><span> View Taxa</span></a></li>
        </div>
        <div class="census-nav-container">
            <li><a class="icon icon-map-marker" href="/sites/"><span> View Sites</span></a></li>
        </div>



    </ul>
</div>