{% extends "strongly_typed_no_sidebar.html" %}

{% block title %}<title>Add Occurrence</title>{% endblock %}

{% block header_block %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/ajax_select/js/ajax_select.js"></script>
<link rel="stylesheet" href="/static/ajax_select/css/ajax_select.css" />
{% endblock %}


{% block base_content %}
<div id="main-wrapper">
        {% include "census_navbar.html" %}

				<!-- Main -->
					<div id="main" class="container" style="width:80%;>
						<div class="row">

							<!-- Content -->
								<div id="content" class="12u skel-cell-mainContent">
                                    <h2>Add Occurrence</h2>
									<!-- Post -->
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <p class="success-added">{{ message }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            <form action="" method="post"> {% csrf_token %}
                                                <div class="row">
                                                {{ form.non_field_errors }}
                                                    <div class="4u">
                                                            <div class="ajaxFormRowWrapper">
                                                            {{ form.ref.errors }}
                                                            <label for="{{ form.ref.id_for_label }}">Reference:  <a class="icon icon-plus-sign" href="/admin/census_paleo/reference/add/ "target="_blank"><span> </span></a></label>
                                                                {{ form.ref }}
                                                            </div>
                                                            <div class="ajaxFormRowWrapper">
                                                                {{ form.location.errors }}
                                                                <label for="{{ form.location.id_for_label }}">Location:  <a class="icon icon-plus-sign" href="/admin/census_paleo/fossillocation/add/" target="_blank"><span> </span></a></label>
                                                                    {{ form.location }}
                                                            </div>
                                                            <div class="ajaxFormRowWrapper">
                                                                {{ form.taxon.errors }}
                                                                <label for="{{ form.taxon.id_for_label }}">Taxon:  <a class="icon icon-plus-sign" href="/get_taxon_info_before_adding/" target="_blank"><span> </span></a></label>
                                                                    {{ form.taxon }}
                                                            </div>

                                                        </div>
                                                    <div class="4u">
                                                        {{ form.abundance.errors }}
                                                            <label for="{{ form.abundance.id_for_label }}">Abundance:</label>
                                                                {{ form.abundance }}
                                                        {{ form.presenceAbsenceOnly.errors }}
                                                        <label for="{{ form.presenceAbsenceOnly.id_for_label }}">Present (abundance unknown):</label>
                                                            {{ form.presenceAbsenceOnly }}
                                                        <input type="submit" value="Submit Data" id="occurrenceSubmit">

                                                    </div>

                                                    <div class="4u">
                                                        {{ form.issue.errors }}
                                                        <label for="{{ form.issue.id_for_label }}">Issue:</label>
                                                            {{ form.issue }}
                                                        {{ form.notes.errors }}
                                                        <label for="{{ form.notes.id_for_label }}">Notes:</label>
                                                            {{ form.notes }}
                                                    </div>
                                                </div>


                                            </form>

                                <script>
                                    $(".success-added").delay(3000).fadeOut()
                                </script>
								</div>

						</div>
					</div>

			</div>

{% endblock %}