{% extends "strongly_typed_no_sidebar.html" %}

{% block base_content %}

    <div id="main-wrapper">
		<div id="main" class="container" style="width:60%;>

            <div class="row">

			<div id="content" class="12u skel-cell-mainContent">
				<div class="8u">
                    <article>
                        <p class="customMessage">You don't have the correct administrator permissions to see this page.</p>
                        <a href="/census/" class="icon icon-arrow-left"> Go Back</a>
                    </article>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}