{% extends "strongly_typed_no_sidebar.html" %}
{% block title %}<title>{{ site.fullName }}</title>{% endblock %}
{% block header_block %}

{% endblock %}


{% block base_content %}
<div id="main-wrapper">
    {% include "census_navbar.html" %}
            <div id="main" class="container">
                <div class="row">
                    <div id="sidebar" class="4u">
                        <header><h2>{{ site.fullName }}</h2></header>
                        <table>
                            <tr><td><strong>Country: </strong>{{ site.country }}</td></tr>
                            {% if site.latitude %}
                                <tr><td><strong>Latitude: </strong>{{ site.latitude }}</td></tr>
                            {% endif %}
                            {% if site.longitude %}
                                <tr><td><strong>Longitude: </strong>{{ site.longitude }}</td></tr>
                            {% endif %}
                            {% if site.mmAveragePrecipitation %}
                                <tr><td><strong>Mean Rainfall (mm): </strong>{{ site.mmAveragePrecipitation }}</td></tr>
                            {% endif %}

                        </table>
                    </div>


                    <div id="content" class="8u skel-cell-mainContent">
                        <article class="is-post">

                        {% if site_occurrences %}
                            <h2>Taxon Occurrences</h2>
                            <table>
                            <tr class="boldrow">
                                <td>Taxon</td>
                                <td>Reference</td>
                                <td>Abundance</td>
                                <td>Present</td>
                                <td></td>
                            </tr>
                            {% for each in site_occurrences %}
                                <tr>
                                    <td><a href="{% url 'taxon_detail' each.taxon.id %}">{{ each.taxon}}</a></td>
                                    <td>{{ each.ref }}</td>
                                    <td>{% if each.abundance %}{{ each.abundance }}{% endif %}</td>
                                    <td>{% if each.presenceAbsenceOnly %}&#10004;{% endif %}</td><td></td>
                                    <td><a href="/admin/census_paleo/occurrence/{{ each.id }}">Edit</a></td>
                                </tr>
                            {% endfor %}

                            </table>

                        {% else %}
                            <p>There are no occurrences.</p>
                        {% endif %}

                        {% if relatedSites %}
                            <h2>Related Units</h2>
                            <table>
                            {% for site in relatedSites %}
                                <tr><td><a href="/census/sites/{{ site.shortName }}">{{ site.fullName }}</a></td></tr>
                            {% endfor %}
                            </table>
                        {% endif %}
                    </article>
                    </div>
                </div>
            </div>
</div>

{% endblock %}