{% extends "strongly_typed_no_sidebar.html" %}
{% block title %}<title>Locations</title>{% endblock %}
{% block header_block %}{% endblock %}
{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
{% endblock %}

{% block base_content %}
<div id="main-wrapper">
                {% include "census_navbar.html" %}
				<!-- Main -->
					<div id="main" class="container" style="width:60%;>
						<div class="row">

							<!-- Content -->
								<div id="content" class="12u skel-cell-mainContent">

									<!-- Post -->
										<article class="is-post">
                                        <h2>Sites/Locations</h2>
                                        <table id="site-table" style="display: none; width: 100%" class="display compact">
                                            <thead>
                                                <tr class="headerRow"><td>ID</td><td>Name</td><td>Country</td><td>Fossil/Modern</td></tr>
                                            </thead>
                                            <tbody>
                                                {% for object in combined_objects %}
                                                <tr>
                                                    <td><a href="/sites/{{ object.shortName }}">{{ object.id }}</a>&nbsp;&nbsp;&nbsp;</td>
                                                    <td>{{ object.fullName }}</td>
                                                    <td>{{ object.country }}</td>
                                                    <td>{% if object.projectArea %}Fossil{% else %}Modern{% endif %}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

										</article>

								</div>

						</div>
					</div>

			</div>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#site-table').DataTable( {
                "lengthMenu": [[-1, 50, 100], ["All", 50, 100]]
            } );
            $('#site-table').show();

} );
    </script>
{% endblock %}